@charset "utf-8";

* {
    margin: 0px ;
    padding: 0px ;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

main {
    position: relative;
    background: url(../imagens/fundo-black.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

    section#telefone {
        position: absolute;
        top: 50% ; 
        left: 50% ;
        transform: translate(-50%, -50%);
        background: url(../imagens/frame-iphone.png);
        background-repeat: no-repeat;
        width: 311px;
        height: 627px ;
    }
        iframe#tela {
            position: relative ;
            left: 21px ;
            top: 80px;
            width: 265px;
            height: 472px ;
        }
        
        section#rsociais {
            text-align: right;
        }

        section#rsociais > a >img {
            width: 50px;
            margin: 8px ;
            border-radius: 13px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.657);
            box-sizing: border-box;
        }

        section#rsociais > a >img:hover {
            border: 2px solid rgba(255, 255, 255, 0.674);
            transform: translate(-3px, -3px);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.657);
            transition: transform 0.5s, border 0.1s;
        }
